body{
  font-family:century gothic;
  margin: 0px;
  padding: 0px;
  background-color: #DCDCDC;
}

body{
    background-image: url("images/diversebooks.jpg");
    background-size: cover;
}
 h1{
   text-align: center;
     background-color:#808080 ;
     color: #FFFACD;
 }
 h2{
   text-align: left;
  color: #000000;
  font-family: century gothic;
  font-size: 1.5em;
  background-color: #808080;
}
h3 {
  font-size: 1.4em;
  float: right;
  padding-right: 17.6rem;
  color: #000000;
}
h4 {
  font-size: 4em;
  color: white;
  font-weight:bolder;
  font-style: italic;
  text-shadow: 2px 2px 4px #FF0000;
  text-align:center;
  margin: auto;
  line-height: 100px;
  position: relative;
  margin-top: 200px;
  width: 70%;
  left: 0;
}
a {
  text-decoration: none;
}
nav {
  font-family: century gothic;
  font-size: 2em;
  width: 100%;
  float: left;
padding-left: 0.5rem;
display: block;
  background: 	#FFFACD;
}
li {
  color: #000000;
  background: 	#FFFACD;
  display: block;
  float:left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
li a {
  color: 	#808080;
}

ul li ul {
  background: 	#FFFACD:
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul {
  background:		#FFFACD;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li:hover,
li:focus-within {
  background: yellow;
  cursor: pointer;
}
li:focus-within a {
  outline: none;
}
ul li ul {
  background: #FFFACD;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left:0;
  display: none;
}
ul li:hover> ul,
ul li:focus-within> ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li{
  clear: both;
}


.animaton-container {
  width: 100rem;
  height: 30rem;
}
p {
  width: 60%;
  justify-content:flex-start;
}

.tcb-quote-carousel{
    background: #f9f9f9;
    padding-top: 30px;
    margin-top: 40px;
    .quote{
        color: rgba(0,0,0,.1);
        text-align: center;
        margin-bottom: 30px;
    }
    .carousel {
      padding-bottom: 60px;
        .carousel-indicators > li {
          background-color: #e84a64;
          border: none;
        }
    }
    blockquote {
        margin-top: 15px;
        text-align: center;
        border: none;
    }
    .profile-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 100px;
    }
}
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}
