body{
  font-family:century gothic;
  margin: 0px;
  padding: 0px;
}
 h1{
   text-align: center;
     background-color: rgba(255, 0, 0, 0.5);
 }
 h2{
   text-align: left;
  color: rgb(65,75,86);
  font-family: century gothic;
  font-size: 1.5em;
  background-color: rgba(255, 0, 0, 0.5);
}
